/**
 * Styles for the Sharelock plugin.
 *
 * @since 1.0.0
 */
.sharelock-container {
	background-color: #eee;
	margin: 1.5em 0;
	padding: 1em;
	text-align: center;
}

.sharelock-container-inner {
	background-color: white;
	box-shadow: 0 0 5px 3px #ddd;
}

.sharelock {
	padding: 1.5em;
	position: relative;
}

.sharelock-icon {
	color: #3b5998;
	position: absolute;
	right: 0.5em;
	top: 0.5em;
}

.sharelock-icon .dashicons {
	font-size: 1em;
	line-height: 1;
}

.sharelock-button {
	background-color: #3b5998;
	border: 0;
	border-radius: 3px;
	display: inline-block;
	font-size: 20px;
	font-weight: normal;
	line-height: 1;
	padding: 0.75em;
	text-transform: none;
}

.sharelock-button:hover {
	background-color: #3b5998;
	opacity: 0.8;
}

.sharelock-button .dashicons {
	margin-right: 0.3em;
}

.sharelock-content {
	display: none;
	padding: 1.5em;
	position: relative;
}
